{% extends "base.html" %} {% load static %} {% block content %}
<div id="all">
  <div id="content">
    <!--
      *** HOT PRODUCT SLIDESHOW ***
      _________________________________________________________
      -->
    <div id="hot">
      <div class="box py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-0">Hot this week</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="product-slider owl-carousel owl-theme">
          {% for item in object_list %}
          <div class="item">
            <div class="product">
              <div class="flip-container">
                <div class="flipper">
                  <div class="front">
                    <a href="detail.html"
                      ><img
                        src="{% static 'img/product1.jpg' %}"
                        alt=""
                        class="img-fluid"
                    /></a>
                  </div>
                  <div class="back">
                    <a href="detail.html"
                      ><img
                        src="{% static 'img/product1_2.jpg' %}"
                        alt=""
                        class="img-fluid"
                    /></a>
                  </div>
                </div>
              </div>
              <a href="detail.html" class="invisible"
                ><img
                  src="{% static 'img/product1.jpg' %}"
                  alt=""
                  class="img-fluid"
              /></a>
              <div class="text">
                <p>{{ item.get_category_display }}</p>
                <h3>
                  <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </h3>
                <p class="price"><del></del>${{ item.price }}</p>
              </div>
              <!-- /.text-->
              <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon-->
              <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon-->
              <div class="ribbon gift">
                <div class="theribbon">GIFT</div>
                <div
                  class="ribbon-background btn-{{ item.get_label_display }}"
                ></div>
              </div>
              <!-- /.ribbon-->
            </div>
            <!-- /.product-->
          </div>
          {% endfor %}
          <!-- /.product-slider-->
        </div>
        <!-- /.container-->
        <div class="pages">
          <!-- <p class="loadMore">
            <a href="#" class="btn btn-primary btn-lg"
              ><i class="fa fa-chevron-down"></i> Load more</a
            >
          </p> -->
          {% if is_paginated %}
          <nav
            aria-label="Page navigation example"
            class="d-flex justify-content-center"
          >
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a
                  href="?page={{ page_obj.previous_page_number }}"
                  aria-label="Previous"
                  class="page-link"
                  ><span aria-hidden="true">«</span
                  ><span class="sr-only">Previous</span></a
                >
              </li>
              {% endif %}
              <li class="page-item active">
                <a href="?page={{ page_obj.number }}" class="page-link">
                  {{ page_obj.number }}
                </a>
              </li>
              <li class="page-item">
                {% if page_obj.has_next %}
                <a
                  href="?page={{ page_obj.next_page_number }}"
                  aria-label="Next"
                  class="page-link"
                  ><span aria-hidden="true">»</span
                  ><span class="sr-only">Next</span></a
                >
              </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
      <!-- /#hot-->
      <!-- *** HOT END ***-->
    </div>
    <!--
      *** GET INSPIRED ***
      _________________________________________________________
      -->

    <div class="container">
      <div class="col-md-12">
        <div id="blog-homepage" class="row">
          <div class="col-sm-6">
            <div class="post">
              <h4><a href="post.html">Fashion now</a></h4>
              <p class="author-category">
                By <a href="#">John Slim</a> in <a href="">Fashion and style</a>
              </p>
              <hr />
              <p class="intro">
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Vestibulum tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                libero sit amet quam egestas semper. Aenean ultricies mi vitae
                est. Mauris placerat eleifend leo.
              </p>
              <p class="read-more">
                <a href="post.html" class="btn btn-primary">Continue reading</a>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="post">
              <h4><a href="post.html">Who is who - example blog post</a></h4>
              <p class="author-category">
                By <a href="#">John Slim</a> in <a href="">About Minimal</a>
              </p>
              <hr />
              <p class="intro">
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Vestibulum tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                libero sit amet quam egestas semper. Aenean ultricies mi vitae
                est. Mauris placerat eleifend leo.
              </p>
              <p class="read-more">
                <a href="post.html" class="btn btn-primary">Continue reading</a>
              </p>
            </div>
          </div>
        </div>
        <!-- /#blog-homepage-->
      </div>
    </div>
    <!-- /.container-->
    <!-- *** BLOG HOMEPAGE END ***-->
  </div>
</div>
{% endblock content %}
